<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<style>
    .center-column {
        width: 600px;
        margin: 20px;
        padding: 20px;
        background-color: #fff;
        box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
    }
</style>


<div class="center-column">
  
    <p>Are you sure you want to delete {{item}}?</p>

    <span><a class="btn btn-sm btn-danger "href="{% url 'list' %}">Cancel</a></span>

    <form method="POST" action="">
        {% csrf_token %}
        <input class="btn btn-success"type="submit" value="Confirm">
    </form>
</div>